/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
.App {
  background-color: rgba(255, 225, 187, 0.603);
  font-size: 0.9em;
}

/* Individual */

.noDisplay {
  display: none !important;
}

.fullOpacity {
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s linear, opacity 1s linear;
}

.noOpacity {
  opacity: 1;
  visibility: visible;
  transition: visibility 1s linear, opacity 1s linear;
}

#summary-div {
  width: 20vw;
  top: 50vh;
  left: 40vw;
  position: absolute;
  text-align: center;
}

#summary-ul {
  width: 20vw;
  position: relative;
  top: 5vh;
  left: 40vw;
}

.detailedSummaryElement {
  width: 12.5vw;
  text-align: center;
  float: left;
  margin: 1vw;
}

.detailedSummaryIcon {
  height: 3vh;
  margin: 0.5vw 1vw 0.5vw 0;
}

.detailedSummaryHeader {
  border-radius: 20px;
  margin-bottom: 1vw;
}

#country-div {
  width: 7vw;
  position: relative;
  left: 11.5vw;
  top: 0.5vh;
}

#income-form-holder {
  width: 100%;
  position: absolute;
  height: 1vh;
  top: 10vh;
  text-align: center;
}

#income-form {
  position: relative;
  top: 10vh;
  width: 30vw;
  display: inline-block;
}

.userSettings-icon {
  height: 2.5vh;
}

#submitButton {
  position: relative;
  top: 2vh;
}

#userSettings-div {
  position: relative;
  top: 3vh;
}

.userSettings-icon {
  padding-left: 0.1vw;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: black;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

#expenses-form {
  position: fixed;
  left: 2vw;
  width: 25vw;
  top: 20vh;
}

#summaryLeft-div {
  position: fixed;
  left: 2vw;
  width: 30vw;
  top: 30vh;
}

#summaryRight-div {
  position: fixed;
  right: 2vw;
  width: 30vw;
  top: 30vh;
}

.expenses-input,
.target-input {
  padding-bottom: 1vh;
}

.expenses-textInput {
  height: 2vh !important;
  text-align: center;
  width: 5vw !important;
  position: relative;
  left: 10vw;
}

.target-textInput {
  height: 2vh !important;
  text-align: center;
}

.expenses-help,
.target-help {
  text-align: center;
}

.expense-icon,
.target-icon {
  height: 4vh;
  padding-right: 0.5vw;
}

#target-form {
  position: fixed;
  right: 2vw;
  width: 25vw;
  top: 30vh;
}

.resultImage {
  padding-bottom: 3vh;
}

/* Responsiveness to queries */

/* Mobile */
@media only screen and (max-width: 600px) {
  :root {
    font-size: 0.8em;
  }
  #expenses-form {
    position: fixed;
    left: 1vw;
    width: 60vw;
    top: 60vh;
    margin-left: 1vw;
  }
  #target-form {
    position: fixed;
    right: 1vw;
    width: 25vw;
    top: 55vh;
    margin-right: 1vw;
  }
  .target-icon {
    float: left;
    height: 3vh;
  }

  .expenses-label {
    float: left;
    margin-right: 5vw;
    position: relative;
    bottom: 2vh;
    font-size: 0;
  }
  .expenses-range {
    width: 65% !important;
  }
  #navbar-logo {
    width: 40px;
    height: 40px;
  }
  #income-form {
    position: relative;
    top: 0;
    width: 50vw;
    display: inline-block;
  }

  #summary-div {
    width: 95vw;
    font-size: 0.8em;
    top: 30vh;
    left: 0;
    position: absolute;
    text-align: center;
  }

  #summary-ul {
    width: 20vw;
    position: relative;
    top: 5vh;
    left: 40vw;
  }

  .resultImage {
    height: 8vh;
    float: left;
    position: relative;
    bottom: 2vw;
    margin-left: 1vw;
    padding: 1vw;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  #income-form {
    top: 2vh;
    display: inline-block;
  }
  #summary-div {
    width: 30vw;
    top: 35vh;

    left: 35vw;
    position: absolute;
    text-align: center;
  }
}
